@media (min-width: 768px) {
  .timeline-left::before {
    content: "";
    z-index: -1;
    position: absolute;
    right: 0;
    top: calc(50% + 2px);
    width: 150px;
    height: 1px;
    background: #f0c347;
  }

  .timeline-left::after {
    content: "";
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #f0c347;
  }

  .timeline-right::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: calc(50% + 2px);
    width: 150px;
    height: 1px;
    background: #f0c347;
  }

  .timeline-right::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #f0c347;
  }

  .timeline-left-empty::before {
    content: "";
    z-index: 99999;
    position: absolute;
    right: 1px;
    top: calc(50% - 5px);
    width: 15px;
    height: 15px;
    transform: translateX(50%);
    border-radius: 2px;
    background: #fcfcfc;
    border: 1px solid #f0c347;
  }

  .timeline-right-empty::before {
    content: "";
    z-index: 99999;
    position: absolute;
    left: -16px;
    top: calc(50% - 5px);
    width: 15px;
    height: 15px;
    transform: translateX(50%);
    border-radius: 2px;
    background: #fcfcfc;
    border: 1px solid #f0c347;
  }
}

@media (max-width: 767px) {
  .timeline-md::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #f0c347;
  }
}

.timeline-title {
	line-height: 1.5;
}

.timeline-title-cc {
    font-size: 6rem;
    font-family: 'Sacramento', cursive; 
    color: #f07530;
}

@media (max-width: 937px) {
	.timeline-title-cc {
    font-size: 5rem;
    }
}

@media (max-width: 781px) {
	.timeline-title-cc {
    font-size: 4.5rem;
    }
}

@media (max-width: 704px) {
    .timeline-title {
        line-height: 1.33;
    }

	.timeline-title-cc {
        font-size: 4rem;
        line-height: 1;
    }
}

.card-title {
	font-family: 'Pompiere', cursive;
	font-size: 2rem;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.btn-warning:disabled {
	border-color: #f07530;
	background-color: #f07530;
	opacity: 1;
	color: #fcfcfc;
}


.btn-outline-warning {
	border-color: #f07530;
	color: #f07530;
}


.btn-outline-warning:hover {
	border-color: #f07530;
	background-color: #f07530;
	color: #fcfcfc;
}

.card-text a {
	color: #212529;
	text-decoration: none;
	border-bottom: 2px solid #f07530;
}

.card-text a:hover, .card-text a:active {
	color: #212529;
	text-decoration: none;
	border-bottom: 2px solid #f0c347;
}

.underline a {
	color: #212529;
	text-decoration: none;
	border-bottom: 2px solid #f07530;
}

.underline a:hover, .underline a:active {
	color: #212529;
	text-decoration: none;
	border-bottom: 2px solid #f0c347;
}

.underline-brown a {
	color: #8E6C6A;
	text-decoration: none;
	border-bottom: 2px solid #f07530;
}

.underline-brown a:hover, .underline a:active {
	color: #8E6C6A;
	text-decoration: none;
	border-bottom: 2px solid #f0c347;
}

.references .underline a {
	color: #fcfcfc;
	text-decoration: none;
	border-bottom: 2px solid #f07530;
}

.references .underline a:hover, .references .underline a:active {
	color: #fcfcfc;
	text-decoration: none;
	border-bottom: 2px solid #f0c347;
}

.end-quote {
	display: flex;
	align-items: end;
}

.end-quote-text {
	font-size: 2.75rem; 
	font-family: 'Pompiere', cursive; 
	line-height: 1.25;
}

@media (max-width: 1068px) {
	.end-quote {
		align-items: center;
	}

	.end-quote-text {
		font-size: 2.25rem;
	}
}

@media (max-width: 416px) {
	.end-quote-text {
		font-size: 2rem;
	}
}