.card-title {
	font-family: 'Quicksand', sans-serif;
}

a.underline-purple  {
  color: inherit;
  text-decoration: none;
  border-bottom: 0px solid #aeaebb;
  transition: cubic-bezier(.45,.05,.55,.95) 0.15s;
}

a.underline-purple:hover  {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #73738A;
}

a.underline-plum  {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #c28f9a;
}

a.underline-plum:hover  {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #8e203f;
}

a.underline-grape  {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #cabdc2;
}

a.underline-grape:hover  {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #9a808a;
}

a.underline-grey {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #bebfc0;
}

a.underline-grey:hover  {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #909294;
}

.blockquote {
	border-left: none;
	padding: 0;
	font-size: 2rem;
	font-size: 300;
	line-height: 1.25;
	color: #d16781;
}

.blockquote::before {
	content: open-quote;
	position: absolute;
	font-size: 17.5rem;
	color: #fcfcfc;
	opacity: 0.1;
	margin-top: -4rem;
	left: 2rem;
	font-weight: 700;
}

.blockquote::after {
	content: close-quote;
	z-index: -9999;
	color: transparent;
}

ol.numbered-list {
  list-style: none;
  counter-reset: list;
  padding-left: 16px;
}

ol.numbered-list li:before {
  content: counter(list);
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  position: absolute;
  right: 100%;
  font-style: italic; 
  font-weight: 900;
  line-height: 1.25;
  color: #fcfcfc;
  opacity: 0.4;
}

ol.numbered-list li {
  counter-increment: list;
  position: relative;
}

ol.numbered-list li p {
  padding-left: 0px; 
  font-style: normal;
  margin-bottom: 0.3rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fcfcfc;
}

ol.numbered-list li p em {
  display: block;
}