a {
  color: #44878F;
}

a:hover {
  color: #3d7980;
  text-decoration: none;
}

.bg-primary {
  background-color: #44878F !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #44878F !important;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  /*top: 48px;*/ /* Height of navbar */
  height: calc(94vh - 48px);
  /*padding-top: .5rem;*/
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #FCFCFC;
}

.sidebar .nav-link:hover, .sidebar .nav-link:active, .sidebar .nav-link.active {
  color: #FCFCFC;
  opacity: 0.6;
}

.sidebar a {
  color: #FCFCFC;
}

.sidebar a:hover, .sidebar a:active {
  color: #FCFCFC;
  opacity: 0.6;
}

@media (max-width: 767.98px) {
  .sidebar {
    position: relative;
    padding: 15px;
  }

  .sidebar img {
    max-width: 200px;
  }

  .sidebar-sticky {
    height: calc(88vh - 48px);
  }

  .sidebar .pl-5 {
    padding-left: 0 !important;
    text-align: center;
  }
}

ol {
  padding-left: 0;
}

/* Navbar for article pages */

.navbar-article {
  padding: 0;
  background-color: #57514F;
  color: #FCFCFC;
}

.navbar-article-back {
  border-right: 1px solid #504a48; 
  background-color: #68615f;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.navbar-article-back:hover {
  background-color: #504a48;
}

.navbar-article-back:active, .navbar-article-back:focus {
  background-color: #423c3a;
}

.navbar-article-back > a:active, .navbar-article-back > a:focus {
    outline: none;
}

.navbar-article .nav-link {
  color: #fcfcfc;
}

.navbar-article .active {
  opacity: 0.8;
}

.navbar-article .active:hover {
  opacity: 0.8;
}






.footnotes {
  background-color: #3d7980;
  color: #FCFCFC;
}