/* Colours */

body {
  background-color: #fcfcfc;
}

.img-thumbnail {
  background-color: #fcfcfc;
}

.table .table {
  background-color: #fcfcfc;
}

.form-control {
  background-color: #fcfcfc;
}

.form-control:focus {
  background-color: #fcfcfc;
}

.dropdown-menu {
  background-color: #fcfcfc;
}

.custom-select:focus::-ms-value {
  background-color: #fcfcfc;
}

.custom-file-label {
  background-color: #fcfcfc;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #fcfcfc;
  border-color: #dee2e6 #dee2e6 #fcfcfc;
}

.card {
  background-color: #fcfcfc;
}

.page-link {
  background-color: #fcfcfc;
}

.page-item.disabled .page-link {
  background-color: #fcfcfc;
}

.list-group-item {
  background-color: #fcfcfc;
}

.list-group-item.disabled, .list-group-item:disabled {
  background-color: #fcfcfc;
}

.modal-content {
  background-color: #fcfcfc;
}

.popover {
  background-color: #fcfcfc;
}

.carousel-indicators .active {
  background-color: #fcfcfc;
}

.bg-white {
  background-color: #fcfcfc !important;
}

.bg-primary {
  background-color: #44878F !important;
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: #44878F !important;
}

.text-white {
  color: #fcfcfc !important;
}

/* Typography */

body {
  font-family: 'Assistant', 'Source Sans Pro', sans-serif;
  font-size: 1.05rem;
}

h1 {
  font-family: 'Ruluko', sans-serif;
  font-weight: 300;
}

a {
  color: #44878F;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

a:hover {
  color: #3d7980;
  text-decoration: none;
}

a:active, a:focus {
    outline: none;
}

a.underline-bg-primary  {
  color: #fcfcfc;
  text-decoration: none;
  border-bottom: 2px solid #a1d0d5;
}

a.underline-bg-primary:hover, a.underline-bg-primary:active {
  color: #fcfcfc;
  text-decoration: none;
  border-bottom: 2px solid #fcfcfc;
}

a.bg-primary  {
  color: #a1d0d5;
}

a.bg-primary:hover, a.bg-primary:active {
  color: #fcfcfc;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  /*top: 48px;*/ /* Height of navbar */
  height: calc(94vh - 48px);
  /*padding-top: .5rem;*/
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #FCFCFC;
}

.sidebar .nav-link:hover, .sidebar .nav-link:active, .sidebar .nav-link.active {
  color: #FCFCFC;
  opacity: 0.6;
}

.sidebar a {
  color: #FCFCFC;
}

.sidebar a:hover, .sidebar a:active {
  color: #FCFCFC;
  opacity: 0.6;
}

@media (max-width: 767.98px) {
  .sidebar {
    position: relative;
    padding: 15px;
  }

  .sidebar img {
    max-width: 200px;
  }

  .sidebar-sticky {
    height: calc(88vh - 48px);
  }

  .sidebar .pl-5 {
    padding-left: 0 !important;
    text-align: center;
  }
}

.sidebar-sm a {
  color: #FCFCFC;
}

.sidebar-sm a:hover, .sidebar-sm a:active {
  color: #FCFCFC;
  opacity: 0.6;
}

/* Article images */

.img-article-header {
  height: 250px;
  overflow: hidden;
  box-shadow: inset 0 0 50px 20px #000000; 
  opacity: 0.85;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.img-article-header:hover {
  opacity: 1;
}

/* Navbar for article pages */

.navbar-article {
  padding: 0;
  background-color: #57514F;
  border-bottom: 1px solid #504a48;
}

.navbar-article-back {
  background-color: #68615f;
  border-right: 1px solid #504a48; 
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.navbar-article-back:hover {
  background-color: #504a48;
}

.navbar-article-back:active, .navbar-article-back:focus {
  background-color: #423c3a;
}

.navbar-article-back > .nav-link {
  color: #fcfcfc !important;
}

.navbar-article-forward {
  background-color: #68615f;
  border-left: 1px solid #504a48; 
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.navbar-article-forward:hover {
  background-color: #504a48;
}

.navbar-article-forward:active, .navbar-article-forward:focus {
  background-color: #423c3a;
}

.navbar-article-forward > .nav-link {
  color: #fcfcfc !important;
}

.navbar-article .nav-link {
  color: #bab7b6;
}

.navbar-article .nav-link:hover, .navbar-article .nav-link:active {
  color: #dbdada;
}

.navbar-article .navbar-text {
  padding: 0.5rem;
  color: #bab7b6 !important;
}

.navbar-article .active {
  color: #dbdada !important;
}

.navbar-article .active:hover, .navbar-article .active:active {
  color: #fcfcfc;
}

.navbar-article .dropdown-menu {
  margin: 0.5rem 0 0 0;
  color: #dbdada;
  background-color: #57514f;
  border: 1px solid #504a48;
  border-radius: 0.3rem;
}

.navbar-article .dropdown-toggle::after {
  display: none;
}

.dropdown-chevron-down { /* Rotate chevron when opening dropdown */
  transform: rotate(180deg);
  transition: all 0.7s ease;
}

.dropdown-chevron-up { /* Rotate chevron when opening dropdown */
  transition: all 0.7s ease;
}

.navbar-article .dropdown-item {
  color: #bab7b6;
}

.navbar-article .dropdown-item:hover, .navbar-article .dropdown-item:focus {
    color: #dbdada;
    background-color: transparent;
}

.navbar-article .dropdown-item.active, .navbar-article .dropdown-item:active {
  color: #dbdada;
  background-color: #57514f;
}

/* Article content */

.article {
  padding-left: 10%;
  padding-right: 10%;
}

.article h1, .article h2 {
    font-weight: 300;
}

.article h2 {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
}

/* Blockquotes */

.blockquote {
  padding: 1rem;
  border-left: 1px solid #44878f;
}

.blockquote > p {
  color: #44878f;
  font-weight: 300;
}

/* Figures */

.figure-caption {
  line-height: 1.15;
}

/* Article footer */

.article-footer {
  background-color: #f5f1f1
}

.article-footer-left {
  padding: 20px 10%; 
}

.article-footer-right {
  padding-left: 0;
  padding-right: 0;
}

.article-footer-right > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .article-footer-left {
    padding-right: 15px;
  }

  .article-footer-right {
    padding-left: 15px;
  }

  .article-footer-right > img {
    height: 100%;
  }
}

/* References */

.references {
  background-color: #57514f;
  color: #FCFCFC;
  border-top: 1px solid #504a48;
}

.references h2 {
  opacity: 0.8;
}

.references ol {
  list-style: none;
  counter-reset: list;
  padding-left: 3px;
}

.references ol li:before {
  content: counter(list);
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  right: 100%;
  font-style: italic; 
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.25;
}

.references ol li {
  counter-increment: list;
  position: relative;
  opacity: 0.8;
}

.references ol li p {
  padding-left: 0px; 
  font-size: 0.9rem; 
  font-style: normal;
  margin-bottom: 0.5rem;
  margin-left: -1px;
  line-height: 1.25;
}

.references ol li p a {
  color: #bab7b6;
}

.references ol li p a:hover {
  color: #dbdada;
}

.references ol li p em {
  display: block;
}

/* Buttons */

.btn-primary {
  color: #fcfcfc;
  background-color: #44878f;
  border-color: #44878f;
}

.btn-primary:hover {
  color: #fcfcfc;
  background-color: #69a8b0;
  border-color: #69a8b0;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 178, 186, 0.5);
}

.btn-outline-primary {
  color: #44878f;
  border-color: #44878f;
}

.btn-outline-primary:hover {
  color: #fcfcfc;
  background-color: #44878f;
  border-color: #44878f;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 178, 186, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #44878f;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fcfcfc;
  background-color: #44878f;
  border-color: #44878f;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 178, 186, 0.5);
}